<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <div class="github-fork-ribbon-wrapper right">
      <div class="github-fork-ribbon">
        <a href="https://github.com/klashxx">Fork me on GitHub</a>
      </div>
    </div>
    <div class="container content">
      <div class="masthead">
        <h3 class="masthead-title">
        <a href="/" title="Home">{{ site.title }}</a>
        {% for page in site.pages_list %}
          &nbsp;&nbsp;&nbsp;<small><a href="{{ page[1]  }}">{{ page[0] }}</a></small>
        {% endfor %}
        </h3>
      </div>
      <div class="container content">
        </h3>
      </header>
      <main>
      {{ content }}
      </main>
      <footer class="footer">
        <small>
        &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time> Juan Diego Godoy Robles
        </small>
      </footer>
    </div>
    {% include analytics.html %}
    <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/cookiechoices.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function (event) {
            cookieChoices.showCookieConsentBar('This site uses cookies. By continuing to browse the site you are agreeing to this use', 'Close', 'More info.', 'http://ec.europa.eu/ipg/basics/legal/cookies/index_en.htm');
        });
    </script>
  </body>
</html>

